  #Contactid .container {
    padding: 64px;
  }

  #Contactid .row:after {
    content: "";
    display: table;
    clear: both
  }

  #Contactid .column-100 {
    float: left;
    width: 100%;
    padding: 20px;
  }
  
  #Contactid .column-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;
  }

  #Contactid .column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
  }

  #Contactid .large-font {
    font-size: 48px;
  }

  #Contactid .xlarge-font {
    font-size: 64px
  }

  #Contactid .button {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: #04AA6D;
  }

  #Contactid img {
    display: block;
    height: auto;
    max-width: 100%;
  }

  #Skills .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  #Skills .row {
    margin: 0 -5px;
  }

  #Skills .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    #Skills .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  #Skills .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }

  @media screen and (max-width: 1000px) {

    #Contactid .column-66,
    .column-33 {
      width: 100%;
      text-align: center;
    }

    #Contactid img {
      margin: auto;
    }
  }