#Homeid .card {
  background: #f5f5f5;
  overflow: visible;
  box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Homeid .card-info {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  gap: 2em;
  width: 100%;
  padding: 0 1rem;
}

#Homeid .card-img {
  --size: 120px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transform: translateY(-50%);
  background-image: url('../../imgs/2C6BA3E2-FB7A-43FA-8011-EAFAB1E637BE_1_105_c.jpeg');
  position: relative;
  transition: all .3s ease-in-out;
  background-size: 100% 100%;
}

#Homeid .card-img::before {
  content: "";
  border-radius: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  border: 1rem solid #e8e8e8;
}

#Homeid .text-title {
  text-transform: uppercase;
  font-size: 0.75em;
  color: #42caff;
  letter-spacing: 0.05rem;
}

#Homeid .text-body {
  font-size: .8em;
  text-align: center;
  color: #6f6d78;
  font-weight: 400;
  font-style: italic;
}

#Homeid .card:hover .card-img {
  --size: 110px;
  width: var(--size);
  height: var(--size);
}



#Homeid .container {
  padding: 64px;
}

#Homeid .row:after {
  content: "";
  display: table;
  clear: both
}

#Homeid .column-100 {
  float: left;
  width: 100%;
  padding: 20px;
}

#Homeid .column-50 {
  float: left;
  width: 50%;
  padding: 20px;
}

#Homeid .column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

#Homeid .column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

#Homeid .large-font {
  font-size: 48px;
}

#Homeid .xlarge-font {
  font-size: 64px
}

#Homeid .button {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #04AA6D;
}

#Homeid img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {

  #Homeid .column-66 {
    width: 100%;
    text-align: center;
  }

  #Homeid .column-33 {
    width: 100%;
    text-align: center;
  }

  #Homeid img {
    margin: auto;
  }
}